.t-shirt_details {
  border: 1px solid skyblue;
  padding: 20px;
  border-radius: 8px;
}

.t-shirt_details img {
  height: 200px;
}

.t-shirt_details button {
  padding: 8px 32px;
  border-radius: 6px;
  font-size: 600;
  cursor: pointer;
}
